body {
  background-color: lightblue;
}

main {
  background-color: lightblue;
}

.container {
  padding: 20px;
}

.nav .container h1 {
  font-size: 32px;
  font-weight: 600;
}

#title {
  font-size: 32px;
  font-weight: 600;
}

.nav {
  /* background-color: #333333; */
  background-color: #bb7f4d;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#logo {
  height: 140px; 
}

/* div containing sidenav */
#sidenav {
  min-width: 200px;
}

/* text box within md-content */
#eventContent {
  margin: 20px;
  min-width: 350px;
  max-width: 500px;
}

/* divs containing filter icons */
.filterIcons {
  min-width: 300px;
  max-width: 750px;
}

.tabDisplay {
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lightblue {
  background-color: lightblue;
}

/* tab bg-colors */
.md-whiteframe-10dp {
  background-color: white;
}

/* entire events view page */
#eventsView {
  min-height: 600px;
}

#btnWhite:hover {
  background-color: rgb(155, 78, 47);
}

/* body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

#entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
/* li a:hover {
  text-decoration: underline;
  color: #eee;
} */

