<div class="container lightblue">
  <h2 tabindex="0">Enter details to add an event.</h2>
  <hr>
  <form>
    <!-- inputs -->
    <div class="md-whiteframe-10dp" id="createForm">
      <md-input-container>
        <label>Event title</label>
        <input ng-model='CC.nameIn'>
      </md-input-container>
      <md-input-container>
        <label>Description</label>
        <input ng-model='CC.descriptionIn'>
      </md-input-container>
      <md-input-container>
        <label>Building or Location</label>
        <input ng-model='CC.locNameIn'>
      </md-input-container>
      <md-input-container>
        <label>Street</label>
        <input ng-model='CC.streetIn'>
      </md-input-container>
      <md-input-container>
        <label>City</label>
        <input ng-model='CC.cityIn'>
      </md-input-container>
      <md-input-container>
        <label>State</label>
        <md-select ng-model="CC.stateIn" aria-label="State, select">
          <md-option ng-repeat="eachState in CC.states" ng-value="eachState">
            {{eachState}}
          </md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Zip</label>
        <input ng-model='CC.zipIn'>
      </md-input-container>
      <md-input-container>
        <label>Start Time</label>
        <input type='datetime-local' ng-model='CC.timeStartIn'>
      </md-input-container>
      <md-input-container>
        <label>End Time</label>
        <input type='datetime-local' ng-model='CC.timeEndIn'>
      </md-input-container>
      <div>
        <md-input-container>
          <label>Select Activity Type</label>
          <md-select ng-model="CC.contentTagsInValue">
            <md-option ng-repeat="eachActivity in CC.content" ng-value="eachActivity.tagIn">
              {{ eachActivity.text }}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </div>
    <!-- Switches for accessibility -->
    <div layout='row'>
      <md-switch ng-model="CC.accessTagsIn.wheelchair" aria-label="Wheelchair access" ng-true-value="true" ng-false-value="false"
        class="md-warn">
        Wheelchair Access
      </md-switch>
      <md-switch ng-model="CC.accessTagsIn.deafness" aria-label="Wheelchair access" ng-true-value="true" ng-false-value="false"
        class="md-warn">
        Hearing Impairment
      </md-switch>
    </div>
    <div layout='row'>
      <md-switch ng-model="CC.accessTagsIn.blind" aria-label="Blind" ng-true-value="true" ng-false-value="false" class="md-warn">
        Visual Impairment
      </md-switch>
      <md-switch ng-model="CC.accessTagsIn.bathroom" aria-label="Accessible Bathroom" ng-true-value="true" ng-false-value="false"
        class="md-warn">
        Accessible Bathroom
      </md-switch>
    </div>
    <div layout='row'>
      <md-switch ng-model="CC.accessTagsIn.attendant" aria-label="Personal Attendant" ng-true-value="true" ng-false-value="false"
        class="md-warn">
        Transportation
      </md-switch>
      <md-switch ng-model="CC.accessTagsIn.sensory" aria-label="Sensory sensitive" ng-true-value="true" ng-false-value="false"
        class="md-warn">
        Sensory sensitive
      </md-switch>
    </div>
    <md-button class="md-raised" id="btnWhite" href="#/user" ng-click='CC.grabEvent()' aria-label="Create Event, button">Create Event</md-button>
    <!-- put back in -->
    
  </form>

  <!-- <md-select ng-model="CC.contentTagsInValue">
      <md-option ng-value="games">
        Games
      </md-option>
      <md-option ng-value="animals">
        Animals
      </md-option>
      <md-option ng-value="food">
        Food
      </md-option>
      <md-option ng-value="sports">
        Sports
      </md-option>
      <md-option ng-value="nature">
        Nature
      </md-option>
      <md-option ng-value="movies">
        Movies
      </md-option>
      <md-option ng-value="shopping">
        Shopping
      </md-option>
      <md-option ng-value="artsAndCrafts">
        Arts and Crafts
      </md-option>
      <md-option ng-value="danceAndMusic">
        Dance and Music
      </md-option>
      <md-option ng-value="partyAndHoliday">
        Party and Holiday
      </md-option> -->

  <!-- ['Games', 'Animals', 'Food', 'Sports', 'Nature', 'Movies', 'Shopping', 'Arts and Crafts', 'Dance and Music', 'Party and Holiday']; -->
  <!-- vm.contentTagsIn = {
    games: false,
    animals: false,
    food: false,
    sports: false,
    nature: false,
    movies: false,
    shopping: false,
    artsAndCrafts: false,
    danceAndMusic: false,
    partyAndHoliday: false,
  }; -->

  <!-- <p>2014-01-09T16:00:00.000Z</p> -->

  <!-- plain text state input: 
  <md-input-container>
      <label>State</label>
      <input ng-model='CC.stateIn'>
    </md-input-container> -->
  <!-- <md-input-container>
      <label>Content Tags:</label>
      <input ng-model='CC.contentTagsIn'>
    </md-input-container> -->

  <!-- <md-button ng-click='CC.toggleAccessTag("wheelchair")'>Wheelchair access</md-button>
  <md-button ng-click='CC.toggleAccessTag("deafness")'>Signing Interpreter</md-button> -->
  <!-- <md-input-container>
      <label>Date</label>
      <md-datepicker ng-model="CC.dateIn"></md-datepicker>
    </md-input-container>
    <md-input-container>
      <label>Start Time</label>
      <input type="time" ng-model='vm.timeStartIn'>
    </md-input-container>
    <md-input-container>
      <label>End Time</label>
      <input type="time" ng-model='vm.timeEndIn'>
    </md-input-container> -->

  <!-- <p>Beginning Time:
      <input type="text" ng-model='CC.timeStartIn'>
    </p>
    <p>End Time:
      <input type="text" ng-model='CC.timeEndIn'>
    </p> -->
  <!-- <p>Access Tags: <input type="text" ng-model='CC.accessTagsIn'></p> -->
</div>