<div class="container">
    <h2 class="lead" tabindex="0">Log in to get started, or register for an account.</h2>
    <h2 tabindex="0" class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
    <h2>DEMO: username "guest", password "guest"</h2>
    <form ng-submit="lc.login()">
        <div class="inputBox" layout="row" layout-align="space-between start">
            <label for="username">Username:</label>
            <input aria-label="Login username" type="text" ng-model="lc.user.username" />
        </div>
        <div class="inputBox" layout="row" layout-align="space-between start">
            <label for="password">Password:</label>
            <input aria-label="Login password" type="password" ng-model="lc.user.password" />
        </div>
        <div>
            <!-- <input class="btn btn-default" type="submit" name="submit" value="Log In" /> -->
            <md-button aria-label="Login button" class="md-raised" id="btnWhite" name="submit" type="submit" value="Log In">Log In</md-button>
            <md-button class="md-raised" id="btnWhite" href="#/register">Register</md-button>
            <md-button class="md-raised" id="btnWhite" href="#/events">Events</md-button>
        </div>
    </form>
</div>