<p ng-repeat='eachEvent in MEC.myAttendingEvents.data'>
    {{ eachEvent }}
    <br>
    <md-button ng-click='MEC.removeAttend(eachEvent._id)'>Not attending</md-button>
</p>

<!-- ONE CONTROLLER: get user's created events:  -->
<!-- <div>
    <button ng-click='MEC.getMyEvents()'>Get My Events</button>
    <div ng-repeat='eachEvent in MEC.myEvents.data'>
        <p >
            {{ eachEvent }}
            <br>
            <md-button ng-click='MEC.deleteEvent(eachEvent)'>Delete Event</md-button>
        </p>
    </div>
</div> -->