<div class="container">
  <h2 tabindex="0" class="lead">Register</h2>
  <h2 class="lead alert alert-danger" role="alert" ng-if="lc.message != ''">{{lc.message}}</h2>
  <form ng-submit="lc.registerUser()">
    <div>
        <label for="username">Username:</label>
        <input aria-label="Register Username, input" type="text" ng-model="lc.user.username" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input aria-label="Register Password, input" type="password" ng-model="lc.user.password" />
    </div>
    <md-button aria-label="Register, button" type="submit" name="submit" value="Register" class="md-raised" id="btnWhite" name="submit" type="submit" value="Log In">Register</md-button>
    <md-button class="md-raised" id="btnWhite" href="#/home">Cancel</md-button>
  </form>
</div>
