<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<div class="container">

    <h1 id="welcome" class="lead" tabindex="0">
        Welcome, {{uc.userObject.userName}}!
    </h1>
    <md-button aria-label="Log out, button" class="md-raised" id="btnWhite" ng-click="uc.userService.logout()">Log Out</md-button>
    <md-button class="md-raised" id="btnWhite" href="#/create">Create Event</md-button>
    <md-button class="md-raised" id="btnWhite" href="#/events">View Events</md-button>
    <md-button class="md-raised" id="btnWhite" href="#/myEvents">My Events</md-button>


</div>